<div class="register">
    <form>
        <div class="register__names">
            <label for="fname">Име и Фамилия:</label><br>
            <input type="email" id="fname" name="fname" placeholder="abc@abc.a">
        </div>
        <div class="register__email">
            <label for="fname">Имейл:</label>
            <input type="email" id="fname" name="fname" placeholder="abc@abc.a">
        </div>
        <div class="register__passowrd">
            <label for="lname">Парола:</label>
            <input type="password" id="lname" name="lname" placeholder="*****">
        </div>
        <div class="register__password">
            <label for="lname">Повтори Паролата:</label>
            <input type="password" id="lname" name="lname" placeholder="*****">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
